<div class="parent clearfix">
           
            <div class="article">
                <div class="child">
                    <img src="img/money.jpg" alt="Money Image" class="article-pic">
                </div>

                <div class="child-2">
                    <h2>MONEY:</h2>
                    <h3><em>WHAT'S IT REALLY WORTH?</em></h3>

                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sit amet purus dui. Praesent sapien ipsum, aliquet in lacus quis, tristique blandit purus. Maecenas gravida sapien a leo pretium, id finibus lectus ultrices. Praesent tristique nibh sed sagittis convallis. Nullam ultricies quam sit amet elit auctor, sed pretium metus auctor. Etiam convallis eu erat quis lacinia. Fusce pharetra ultrices mi. Donec eu ex vitae lorem ultricies tristique. Praesent vel semper quam. Sed elementum ac diam at ullamcorper. Curabitur dictum imperdiet mattis. Donec et condimentum nulla.</p>
                    <p>Sed blandit hendrerit justo, tincidunt ullamcorper ex laoreet nec. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Suspendisse eget ligula eget ligula rhoncus blandit. Proin semper lacinia semper. Curabitur sem ante, hendrerit in blandit id, venenatis venenatis tortor. Praesent commodo nulla et enim rutrum fermentum. Proin imperdiet sagittis convallis. Donec porttitor quam sed lacinia posuere. Praesent sit amet magna sed urna consequat blandit. Suspendisse potenti.</p>
                </div>
            </div>
            
            <div class="clear"></div>
            <hr>
            
            <div class="article">
                <div class="child">
                    <img src="img/produce.jpg" alt="Produce Image" class="article-pic">
                </div>

                <div class="child-2">
                    <h2>GMO FOOD</h2>
                    <h3><em>SEPERATING FACT FROM FICTION</em></h3>

                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sit amet purus dui. Praesent sapien ipsum, aliquet in lacus quis, tristique blandit purus. Maecenas gravida sapien a leo pretium, id finibus lectus ultrices. Praesent tristique nibh sed sagittis convallis. Nullam ultricies quam sit amet elit auctor, sed pretium metus auctor. Etiam convallis eu erat quis lacinia. Fusce pharetra ultrices mi. Donec eu ex vitae lorem ultricies tristique. Praesent vel semper quam. Sed elementum ac diam at ullamcorper. Curabitur dictum imperdiet mattis. Donec et condimentum nulla.</p>
                    <p>Sed blandit hendrerit justo, tincidunt ullamcorper ex laoreet nec. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Suspendisse eget ligula eget ligula rhoncus blandit. Proin semper lacinia semper. Curabitur sem ante, hendrerit in blandit id, venenatis venenatis tortor. Praesent commodo nulla et enim rutrum fermentum. Proin imperdiet sagittis convallis. Donec porttitor quam sed lacinia posuere. Praesent sit amet magna sed urna consequat blandit. Suspendisse potenti.</p>
                </div>
            </div>
            
            <div class="clear"></div>
            <hr>
            
            <div class="article">
                <div class="child">
                    <img src="img/robot.jpg" alt="Robot Image" class="article-pic">
                </div>

                <div class="child-2">
                    <h2>92 UP!</h2>
                    <h3><em>THE WORLD IN 2100</em></h3>

                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sit amet purus dui. Praesent sapien ipsum, aliquet in lacus quis, tristique blandit purus. Maecenas gravida sapien a leo pretium, id finibus lectus ultrices. Praesent tristique nibh sed sagittis convallis. Nullam ultricies quam sit amet elit auctor, sed pretium metus auctor. Etiam convallis eu erat quis lacinia. Fusce pharetra ultrices mi. Donec eu ex vitae lorem ultricies tristique. Praesent vel semper quam. Sed elementum ac diam at ullamcorper. Curabitur dictum imperdiet mattis. Donec et condimentum nulla.</p>
                    <p>Sed blandit hendrerit justo, tincidunt ullamcorper ex laoreet nec. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Suspendisse eget ligula eget ligula rhoncus blandit. Proin semper lacinia semper. Curabitur sem ante, hendrerit in blandit id, venenatis venenatis tortor. Praesent commodo nulla et enim rutrum fermentum. Proin imperdiet sagittis convallis. Donec porttitor quam sed lacinia posuere. Praesent sit amet magna sed urna consequat blandit. Suspendisse potenti.</p>
                </div>
            </div>
            
            <div class="clear"></div>
        </div>